body {
    background-color: #121212;
    color: #A8E6A3;
}

h1, h2, div{
    display: flex;
    justify-content: center;

}

div > button {
    margin-left: 10px;
    color: #FF79C6;
    background-color: #B3B3B3;
    border: #B3B3B3;
    border-radius: 20px;
}

button:hover {
    background-color: #8C8C8C;
}